html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  background-color: transparent;
  transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-style: preserve-3d;
}
.gwd-span-h3zy {
  position: absolute;
  font-size: 200px;
  color: rgb(250, 6, 6);
  left: 225px;
  top: 64px;
}
.gwd-button-pxhc {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 333px;
  top: 250px;
}
.gwd-button-1ja1 {
  left: 219px;
  top: 294px;
}
.gwd-button-1hs5 {
  left: 327px;
  top: 294px;
}
